* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    position: relative;
}

header {
    text-align: center;
    padding: 1rem;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 1rem 1rem 0;
}

.container {
    max-width: 50vw;
    padding: 1rem;
    margin: auto;
}

.add_task {
    padding: 1rem 0;
    display: flex;
    justify-content: end;
    font-size: larger;
}

.task_list {
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task {
    display: flex;
    align-items: center;
    flex: 1;
}

.task .task_title p {
    font-size: x-large;
    padding-left: 1rem;
}

.task_tools a:first-child {
    padding: 0 1rem;
}

.task_tools a {
    font-size: large;
}

.task_list form button {
    padding: 0 8px;
}

.task_list form button:hover {
    cursor: pointer;
}

.create_task h3 {
    font-size: larger;
}

.edit_task h3 {
    font-size: larger;
}

.create_task form {
    padding-top: 1rem;
    font-size: large;
}

.edit_task form {
    padding-top: 1rem;
    font-size: large;
}

.create_task form p input {
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 100%;
}

.edit_task form p input {
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 100%;
}

.create_task .btn {
    position: relative;
}

.edit_task .btn {
    position: relative;
}

.create_task a {
    position: absolute;
    bottom: 0;
    right: 0;
}

.edit_task a {
    position: absolute;
    bottom: 0;
    right: 0;
}

.create_task button {
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.edit_task button {
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.create_task button:hover {
    cursor: pointer;
}

.edit_task button:hover {
    cursor: pointer;
}

@media (max-width: 400px) {
    .container {
        max-width: 100vw;
    }
}