{% extends 'base.html' %}
{% load static %}

{% block content %}
<a href="{% url 'task_create' %}" class="add_task">Add Task</a>

<section>
    <div class="task_list">
        {% for task in tasks %}
        {% if task.completed == True %}
        <div class="completed">
            <ul>
                <li>
                    <i><s>{{ task.title }}</s></i>
                </li>
            </ul>
            <a href="{% url 'task_update' task.id %}">Edit</a>
            <a href="{% url 'task_delete' task.id %}">Delete</a>
        </div>
        {% else %}
        <div class="uncompleted">
            <ul>
                <li>
                    {{ task.title }}
                </li>
            </ul>
            <a href="{% url 'task_update' task.id %}">Edit</a>
            <a href="{% url 'task_delete' task.id %}">Delete</a>
        </div>
        {% endif %}
        {% empty %}
        <h3>No items in list</h3>
        {% endfor %}
    </div>
</section>
{% endblock %}