{% extends 'base.html' %}

{% block content %}
<h3 class="add_task">
    <a href="{% url 'create_task' %}">Add task</a>
</h3>

<section>
    <div>
        {% for task in task_list %}
        <div class="task_list">
            <div class="task">
                <form action="{% url 'toggle_complete' task.pk %}" method="POST">
                    {% csrf_token %}

                    <button type="submit">x</button>
                </form>

                <div class="task_title">
                    {% if task.completed %}
                    <p>
                        <s>{{ task.title }}</s>
                    </p>
                    {% else %}
                    <p>{{ task.title }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="task_tools">
                <a href="{% url 'edit_task' task.pk %}">Edit</a>
                <a href="{% url 'delete_task' task.pk %}">Delete</a>
            </div>
        </div>

        {% empty %}
        <h3>No items in list</h3>
        {% endfor %}
    </div>
</section>
{% endblock %}